@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #EDEDED;
  --primary: #7135DA;
  --secondary: #D4AF37;
  --neutral-100: #F4F2F7;
  --neutral-200: #D6D4D9;
  --neutral-300: #B8B6BB;
  --neutral-400: #9A989D;
  --neutral-500: #7C7A7F;
  --neutral-600: #5E5C61;
  --neutral-700: #403E43;
  --neutral-800: #222025;
  --neutral-900: #1E1B22; 
  --card-background: #1E1B22;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
}
